{% extends 'base.html' %} {% block title %} Home · Healthverse {% endblock title %} 

{%block content%}



<div class="form-container right">
    <div class="headText">Healthverse - Smart. Simple. Reliable.</div>
    <span class="question"> 
        Our aim is to reduce the number of severe Covid cases by the early and regular
monitoring of critical parameters of the user. This will in turn help to track
down the number of cases and will also ease the burden on the medical staff
around the world
         </span>
</div>

{%endblock content%}