{% extends 'base.html' %}
{% block title %}
Tests
{% endblock title %}
{% block content %}

<div class="form-container">
    <div class="headText">About Our Technology</div>
    <span class="question"> In our self evaluation test, to predict user's covid levels, we first start by analyzing a dataset, training it using machine learning and then using the user's input, predicting the probability of the user being infected by Covid. The user can also attach his/her CT scans and X-rays, which can again be used by our app to check whether the person is infected by the virus or not. To do this we used deep learning algorithms on a data frame of confirmed scan images. This in turn formed a mathematical model which is then finally used. </span>
</div>


{% endblock content %}